* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.resume1 {
  width: 100vw;
  background-color: rgb(206, 201, 201);
  display: flex;
  /* overflow: hidden; */
}
.resume1 .left {
  width: 45vw;
  /* height: 100vh; */
}
.resume1 .right {
  width: 55vw;
  height: 188vh;
  display: grid;
  place-items: center;
  background-color: aqua;
  /* overflow: auto; */
  padding: 20px;
}
.resume1 .right .resume {
  width: 52vw;
  height: 180vh;
  /* overflow: auto; */
  background-color: white;
  display: flex;
}

.r1-main-image {
  width: 220px;
  height: 220px;
}
.r1-main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.r1-name-img {
  background-color: #3e526d;
  width: 52vw;
  padding: 20px;
}

.r1-name-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.r1-name-designation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  /* border: 1px solid red; */
}

.r1-name-designation h1 {
  text-transform: uppercase;
  color: #eaf1f8;
  text-shadow: 1px 2px #333;
  font-size: 40px;
}

.r1-name-designation h5 {
  text-transform: uppercase;
  background-color: #4d688c;
  color: #c7d6e7;
  border-radius: 5px;
  padding: 10px 2px;
  font-size: 20px;
  letter-spacing: 1px;
  text-shadow: 1px 2px #333;
}

.r1-midsection-wrapper {
  background-color: #4d688c;
  display: flex;
  flex: 1;
}

.r1-midsection-left {
  display: flex;
  flex-direction: column;
}

.divider {
  height: 320px;
  /* width: 100%; */
  padding: 1px;
  margin: 0;
  margin-top: 18px;
  background: #ffffff;
  /* border: 1px solid red; */
}
